<form method="POST" action="/comments">
    <p><label for="title">Title: </label><input type="text" name="title"></p>
    <p><label for="body">Body: </label><input type="text" name="body"></p>
    <input type="submit">
</form>
