<h1>edit</h1>

<form method="POST" action="/quotes/<%= @quote.id %>">
    <input type="hidden" name="_method" value="patch">
    <p>
	<label for="body">Body:</label>
	<input type="text" name="body" value="<%= @quote.body %>">
    </p>
    <p>
	<label for="author">Author:</label>
	<input type="text" name="author" value="<%= @quote.author %>">
    </p>
    <p>
	<input type="submit" value="create">
    </p>
</form>


<a href="/quotes">back</a>
