<h1>Create a new quote</h1>
<form method="POST" action="/quotes">
    <p>
	<label for="body">Body:</label>
	<input type="text" name="body">
    </p>
    <p>
	<label for="author">Author:</label>
	<input type="text" name="author">
    </p>
    <p>
	<input type="submit" value="create">
    </p>
</form>
